*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background: linear-gradient(#000 0%, #0000ff 40%);
    min-height: 100vh;
    overflow-x: hidden;
}
header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 13;
}
.logo{
    color: #fff;
    font-size: 40px;
    cursor: default;
}
a{
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-weight: 600;
    padding: 6px 15px;
    border-radius: 20px;
}
a:hover, .active{
    background-color: #0000ff;
}
.images{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.content{
    position: relative;
    padding: 100px;
    background: #040220;
}
.content h2{
    color: #fff;
    font-size: 50px;
    margin-bottom: 10px;
}
p{
    color: #fff;
    font-weight: 300;
    font-size: 20px;
}

